.agregar-viaje--btn-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.viajes-filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.viajes-filters select{
  height: 32px;
  width: auto;
  padding: 4px 12px;
  background-color: #fff;
  color: #222;
  cursor: pointer;
}

.viajes-filters button{
  height: 30px;
  font-size: 1rem;
  font-weight: normal;;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
