.header{
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
  padding: 24px;
  overflow: hidden;
}

.header--logo h1{
  font-size: 2rem;
}

.header--navbar{
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}