.hero{
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  background: linear-gradient(to bottom, #007BFF, #777);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  overflow: hidden;
  box-sizing: border-box;
}

.hero--title{
  text-align: center;
}

.hero--title h2{
  font-size: 2rem;
}

.hero--title p{
  font-size: 1.5rem;
}

.hero--button a{
  color: #fff;
}